@charset "UTF-8";

header{
    background: #003a8c;
    color: white;
    min-height: 130px;
    text-align: left;
    padding: 40px 20px;
}

header > h1{
    font-size: 3em;
    margin-bottom: 15px;
}

nav{
    display: flex;
    padding: 15px;
    gap: 20px;
}

nav > a{
    display: inline-block;
    background: black;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
}

nav > a:hover{
    background: #005fd4;
    transform: translateY(-5px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}